@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Itim', cursive;
    font-weight: 500;
    list-style-type: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-X: hidden;
    background-color: #ddd;
}
/**general**/
.navbar{
    width: 15vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    left:-15vw;
    top: 0;
    transition: all .5s;
    z-index: 21;
}
.navbar.change{
    left: 0;
}
.nav-link{
    font-size: 2.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: #888;
}
.nav-link:hover{
    color: #333;
}
.menu{
    width: 5rem;
    height: 4rem;
    z-index: 20;
    position: fixed;
    top: 5%;
    left: 3rem;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .2rem;
    transition: all .5s;
    cursor: pointer;
}
.mu{
    width: 100%;
    height: .2rem;
    background-color: #ddd;
    margin: .5rem 0;
    transition: all .5s;
}
.change .menu-line-1{
    transform: rotate(270deg) translateX(-1rem);
}
.change .menu-line-2{
    transform: rotate(360deg)
}
.change .menu-line-3{
    transform: rotate(270deg) translateX(-1rem);
    opacity: 0;
}
.menu.change{
    left: 16vw;
    transform: rotate(45deg);
}
.wrapper{
    width: 100%;
    perspective: 60rem;
}
section{
    position:relative;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    left:0;
    top: 0;
    transform-origin: left;
    transition: left .5s, transform .6s;
    z-index: 50;
}
section.change{
    left: 15vw;
    transform: rotateY(20deg);
}
/**section1**/
.section-heading-origin{
    font-size: 10rem;
    color: #ccc;
    text-shadow: 1rem 1rem 1rem #000;
    text-align: center;
    letter-spacing: .5rem;
    text-transform: uppercase;
    padding-top:5rem;
}
.section-heading{
    font-size: 8rem;
    color: #eee;
    text-shadow: .5rem .5rem .5rem #333;
    text-align: center;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.section-heading-others{
    font-size: 8rem;
    color: #333;
    text-shadow: .2rem .2rem .2rem #333;
    text-align: center;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),
    url(/images/bg-1.jpg) center no-repeat;
    background-size: cover;
}
.section-1-img{
    width: 50vw;
}
/**section-2**/
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-2-container{
    display: flex;
    margin: 0 10rem;
    justify-content: space-evenly;
}
.card-img{
    width: 40rem;
    height:25rem;
    object-fit:cover;
    border-radius: 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 1rem #bbb;
    opacity: .7;
}
.cards:hover{
    opacity: 1;
}
.car-price{
    font-size: 2.2rem;
    margin: 2rem 0;
}
.submit{
    font-size: 2rem;
    padding: .5rem;
    background-color: #999;
    border: transparent;
    color: #eee;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .5s;
}
.submit:hover{
    background-color: #222;
}
/**section 3**/
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url(/images/bg-2.jpg) no-repeat center;
    background-size: cover;
}
.video-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.video{
    width: 40rem;
    margin: 0 2rem;
    border-radius: 1rem;
}
.section-4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.car-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 30rem;
    margin: 10rem 0;
}
.img{
    width: 21rem;
    height: 13rem;
    object-fit: cover;
    object-fit: cover;
    position: absolute;
    bottom: 6rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem #444;
    transform: translateX(-50%) rotateX(4deg);
    transform-origin: bottom;
    transition: all .5s;
}
.img:hover{
    transform: translateX(-50%) rotateX(0);
}
.shelf{
    position: relative;
    width: 120rem;
    height: 2rem;
    background-color: rgba(0, 0, 255, .5);
    perspective: 30rem;
    box-shadow: 1rem 1rem 5rem #555;
}
.shelf::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10rem;
    background-color: rgba(51, 51, 192, 0.2);
    top: -10rem;
    transform: rotateX(20deg);
    transform-origin: bottom;
}
.car1{
    left: 30%;
    
}
.car2{
    left: 50%;
}
.car3{
    left: 69%;
}
/**section 5**/
.section-5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(/images/bg-2.jpg) no-repeat center;
    background-size: cover;
    align-items: center;
}
.contact-form{
    width: 55rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 1.2rem;
    border-radius: 1.5rem;
}
input,textarea{
    margin: .9rem;
    padding: .9rem;
    border: none;
}
.send{
    background-color: #888;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .5s;
    font-weight: 700;
}
textarea{
    min-width:95%;
    max-width: 96%;
    min-height:65%;
    max-height: 65%;
}
.send:hover{
    background-color: #222;
}
.copyright{
    color: #eee;
    font-size: 3rem;
}
/**Responsiveness**/
@media(max-width:1600px){
    .section-heading-origin{
        font-size: 8rem;
    }
    .section-heading-others{
        font-size:6rem;
        padding: 3rem 0;
    }
    .section-1{
        justify-content: space-evenly;
    }
    .section-1-img{
        width: 60vw;
    }
    .section-2{
        height: auto;
    }
    .section-2-container{
        flex-wrap: wrap;
    }
    .cards{
        margin: 5rem;
    }
    .navbar.change{
        width: 20vw;
    }
}
@media(max-width:1500px){
    .img{
        width: 16%;
    }
    .section-heading{
        font-size: 6rem;
    }
    .shelf{
        width: 110rem;
    }
    .video{
        width: 35rem;
    }
    .menu.change{
        left: 21vw;
    }
}
@media(max-width:1300px){
    .navbar.change{
        width: 25vw;
    }
    section.change{
        left: 25vw;
    }
    .menu.change{
        left: 25vw;
    }
    .video{
        width: 32rem;
    }
    .shelf{
        width: 100rem;
    }
    .section-heading{
        font-size: 5rem;
    }
    .section-heading-origin{
        font-size: 7rem;
    }
    .section-heading-others{
        font-size:5rem;
        padding: 3rem 0;
    }
    .img{
        width: 19rem;
        height: 11rem;
    }
    .car1{
        left: 25%;
        
    }
    .car2{
        left: 50%;
    }
    .car3{
        left: 75%;
    }
}
@media(max-width:1100px){
    .navbar.change{
        width: 30vw;
    }
    .video{
        width: 25rem;
    }
    .shelf{
        width: 85rem;
       }
       .menu.change{
        left: 31vw;
    }
}
@media(max-width:850px){
    .shelf{
        width: 80rem;
       }
       .video{
        width: 22rem;
    } 
}
@media(max-width:800px){
    html{
        font-size: 55%;
    }
    .video{
        width: 23rem;
    } 
    .section-1-img{
        width: 80vw;
    }
}
@media(max-width:720px){
    .shelf{
        width: 70rem;
       }
       .img{
        width: 17rem;
        height: 10rem;
    }
    .contact-form{
        width: 40rem;
        height: 55rem;
    }
    .video{
        width: 25rem;
    }
    .video-wrapper{
        flex-wrap: wrap; 
}
.section-3{
    height: auto;
    padding: 5rem 0;
}
.video{
    margin: 1rem;
  }
  .section-heading{
    font-size: 4rem;
}
.section-heading-origin{
    font-size: 6rem;
}
.section-heading-others{
    font-size:4rem;
    padding: 3rem 0;
}
}
@media(max-width:640px){
    .shelf{
        width: 65rem;
       }
       .img{
        width: 15rem;
        height: 11rem;
    }
    .navbar.change{
        width: 30vw;
    }
    section.change{
        left: 25vw;
        transform: rotateY(20deg);
    }
    .nav-link{
        font-size: 2rem;
    }
}
@media(max-width:595px){
    .video{
        width: 35rem;
    }
    .shelf{
        width: 60rem;
       }
       .img{
        width: 15rem;
        height: 10rem;
    }
    .navbar.change{
        width: 35vw;
    }
    .menu.change{
        left: 35vw;
    }
    section.change{
        left: 0;
        transform: rotateY(0);
    }
    .section-1-img{
        width: 90%;
    }
}
@media(max-width:550px){
    html{
        font-size: 46%;
    }
    .img{
        width: 13rem;
        height: 9rem;
    }
    .section-1-img{
        width: 90%;
    }
    .shelf{
        width: 55rem;
       }
}
@media(max-width:450px){
    .section-1-img{
        width: 90%;
    }
}
@media(max-width:400px){
    html{
        font-size: 40%;
    }
}