@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Itim', cursive;
    font-weight: 500;
    list-style-type: none;
}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    background-color: #ddd;
}
/**general**/
.navbar{
    width: 15vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    left:-15vw;
    top: 0;
    transition: all .5s;
    z-index: 21;
}
.navbar.change{
    left: 0;
}
.nav-link{
    font-size: 2.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: #888;
}
.nav-link:hover{
    color: #333;
}
.menu{
    width: 5rem;
    height: 4rem;
    z-index: 20;
    position: fixed;
    top: 5%;
    left: 3rem;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .2rem;
    transition: all .5s;
    cursor: pointer;
}
.mu{
    width: 100%;
    height: .2rem;
    background-color: #ddd;
    margin: .5rem 0;
    transition: all .5s;
}
.change .menu-line-1{
    transform: rotate(270deg) translateX(-1rem);
}
.change .menu-line-2{
    transform: rotate(360deg)
}
.change .menu-line-3{
    transform: rotate(270deg) translateX(-1rem);
    opacity: 0;
}
.menu.change{
    left: 32rem;
    transform: rotate(45deg);
}
.wrapper{
    width: 100%;
    perspective: 60rem;
}
section{
    position:relative;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    left:0;
    top: 0;
    transform-origin: left;
    transition: left .5s, transform .6s;
    margin-bottom:1rem; 
}
section.change{
    left: 15vw;
    transform: rotateY(20deg);
}
/**section1**/
.section-heading-origin{
    font-size: 10rem;
    color: #ccc;
    text-shadow: 1rem 1rem 1rem #000;
    text-align: center;
    letter-spacing: .5rem;
    text-transform: capitalize;
    padding-top:5rem;
}
.section-heading{
    font-size: 8rem;
    color: #ccc;
    text-shadow: .3rem .3rem .3rem #888;
    text-align: center;
    letter-spacing: .5rem;
    text-transform: capitalize;
}
.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),
    url(/images/bg-1.jpg) center no-repeat;
    background-size: cover;
}
.section-1-img{
    width: 50vw;
}
/**section-2**/
.section-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-2-container{
    display: flex;
    margin: 0 10rem;
    justify-content: space-evenly;
}
.card-img{
    width: 40rem;
    height:25rem;
    object-fit:cover;
    border-radius: 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 1rem #bbb;
    opacity: .7;
}
.cards:hover{
    opacity: 1;
}
.car-price{
    font-size: 2.2rem;
    margin: 2rem 0;
}
.submit{
    font-size: 2rem;
    padding: .5rem;
    background-color: #999;
    border: transparent;
    color: #eee;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .5s;
}
.submit:hover{
    background-color: #222;
}

/**font-family: 'Itim', cursive;*/